name: example
description: 文档扫描器示例应用
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cunning_document_scanner:
    path: ../

flutter:
  uses-material-design: true
